/*div,
header,
main,
article,
aside,
footer {
    border: 1px solid black;
}*/

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    justify-content: space-between;
}

header {
    background-color: rgb(221, 216, 216);
    padding: 20px;
}

.osnovnoy {
    display: inherit;
    flex-grow: 1;
}

main {
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    padding: 20px;
    background-color: rgb(247, 237, 224);
    justify-content: flex-end;
}

article {
    flex-grow: 1;
}

.ischo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ischo div {
    min-width: 38%;
    padding: 20px;
    margin: 10px;
    background-color: rgb(248, 224, 147);
}

#ischo3 {
    flex-grow: 1;
}


aside {
    width: 30%;
    padding: 20px;
    background-color: rgb(230, 247, 221);
}

footer {
    display: inherit;
    padding: 20px;
    background-color: rgb(221, 216, 216);
}

footer div {
    flex-direction: row;
    flex-grow: 1;
    align-content: stretch;
    padding: 10px;
    margin: 20px;
    background-color: white;
}